fastapi
uvicorn[standard]

motor
pymongo

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

python-dotenv

email-validator

python-multipart

bcrypt==4.0.1

httpx

pytest
pytest-asyncio